.thumbnailL {
    height: 225px; width: 100%; display: block;
}

.tumnagel {

    object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height:140px;
    width:100%;
    border-radius:2px;
    border: 1px solid #CCC;
}

#menuRow{
  margin: 5rem;
}